<h1>Convert <%= @original_currency%></h1>

<p> <a href="/">Go back</a></p>

<ul>
  <% @symbols.each do |currency| %>
  <li>
    <a href="/<%=@original_currency%>/<%=currency%>"> Convert 1 <%=@original_currency%> to <%=currency%>...</a>
  </li>
  <% end %>

</ul>
